body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #626880,#99d1db);
    background-attachment: fixed;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body.loaded {
    opacity: 1;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.header.visible {
    opacity: 1;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    padding: 2rem 0;
}

.exploit-card {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    opacity: 0.1;
    transition: opacity 1s ease-in-out;
}

.exploit-card.visible {
    opacity: 1;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.85); 
    color: #fff; 
    border: none;
    opacity: 0.9;
    transition: opacity 1s ease-in-out;
}

.modal-content.visible {
    opacity: 1;
}

.modal-header {
    border-bottom: none;
}

.modal-body {
    padding: 1rem;
}
.member-card:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
  
.tilt-card {
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: transform 0.2s;
}
.btn-outline-light {
    border-color: #fff;
    color: #fff;
}
  
.btn-outline-light:hover {
    background-color: #fff;
    color: #333;
}
.btn-white-bg {
    background-color: #fff;
    color: #333;
  }
  
.btn-white-bg:hover {
    background-color: #eee;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8888;
    pointer-events: none;
  }