body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #626880,#99d1db);
  background-attachment: fixed;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

body.loaded {
  opacity: 1;
}

a {
  color: #303446;
}

.header {
  position: -webkit-sticky; /* for safari cuz ass */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.header.visible {
  opacity: 1;
}

.section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

.navbar {
  backdrop-filter: blur(10px);
}

.navbar-brand,
.nav-link {
  color: #fff;
}

.nav-link.active {
  font-weight: bold;
}

.member-card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: none; /* border for mem card fix cuz it broke lol */
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.member-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.tilt-card {
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: transform 0.2s;
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #333;
}

.modal-content {
  backdrop-filter: blur(10px);
  border: none;
}

.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.btn-white-bg {
  background-color: #fff;
  color: #333;
}

.btn-white-bg:hover {
  background-color: #eee;
}

.scroll-down-section {
  display: block;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.scroll-down-section.hide {
  opacity: 0;
  pointer-events: none;
}

#huge-bromine35 {
  margin-top: 50px; /*stupid ahh space for bromine title*/
}
.typing-text {
  font-family: 'Courier New', Courier, monospace;
  margin: 0 auto;
  color: #ef9f76;
}
.about-box {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  position: relative;
}

.about-text {
  color: #fff;
  font-size: 16px;
  margin: 0;
  position: relative;
  z-index: 1;
}

#draggable-cards-container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  cursor: move;
  user-select: none;
  margin-bottom: 1rem;
}

.draggable-mirror {
  opacity: 0.8;
}

.draggable--over {
  border: 2px dashed #000;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  pointer-events: none;
}

