body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #626880, #99d1db);
  background-attachment: fixed;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
}

a {
  color: #303446;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  backdrop-filter: blur(10px);
}

.navbar-brand,
.nav-link {
  color: #fff;
}

.nav-link.active {
  font-weight: bold;
}

.member-card {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: none;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.member-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.btn-outline-light {
  border-color: #fff;
  color: #fff;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #333;
}

.modal-content {
  backdrop-filter: blur(10px);
  border: none;
}

.btn-close-white {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.btn-white-bg {
  background-color: #fff;
  color: #333;
}

.btn-white-bg:hover {
  background-color: #eee;
}

.about-box {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding: 20px;
  display: inline-block;
  position: relative;
}

.about-text {
  color: #fff;
  font-size: 16px;
  margin: 0;
  position: relative;
  z-index: 1;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: none;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.form-control:focus {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.video-details-box {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.video-details-card {
  background-color: rgba(255, 255, 255, 0.064);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.video-details-card:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.video-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.video-published {
  font-size: 0.9rem;
}

.separator {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.video-description {
  max-height: 200px;
  overflow-y: auto;
}
.video-description p {
  margin-bottom: 1rem;
  text-align: left;
}

.view-count-icon,
.like-count-icon,
.dislike-count-icon {
  margin-right: 0.5rem;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
  pointer-events: none;
}